.search-input {
  --search-input-bg: var(--grey-1);
  --search-input-border: 0.125rem solid var(--grey-6);

  &:not(.seeking):not(.seeking-program) .search-input-icon {
    --search-input-icon-color: var(--grey-6);

    &:hover {
      --search-input-icon-color: var(--grey-4);
    }
  }

  textarea {
    --placeholder-color: var(--grey-5);
    --search-input-textarea-color: var(--grey-9);
  }

  &.disabled {
    --search-input-bg: var(--grey-2);
  }

  &.seeking,
  &.seeking-program {
    --search-input-bg: var(--grey-5);
    --search-input-border: 0.25rem solid var(--grey-6);
    --search-input-color: var(--grey-1);

    --search-input-icon-color: var(--grey-1);
    --search-input-icon-color-hover: var(--grey-3);
  }
}

.search-input {
  width: var(--search-input-width);
  height: fit-content;
  min-height: var(--search-input-height);
  border-radius: 1.25rem;
  border: var(--search-input-border);
  padding: 0.125rem 0.75rem;

  box-sizing: border-box;

  background: var(--search-input-bg);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 0.25rem;

  &.disabled {
    pointer-events: none;
  }

  &.program {
    width: 90%;
    justify-self: center;
  }

  textarea {
    // TODO: switch to native resizing when it is widely supported
    // https://developer.mozilla.org/en-US/docs/Web/CSS/field-sizing
    height: fit-content;
    max-height: calc(1.5rem * 5);
    min-height: 100%;
    line-height: 1.5;
    transition: height 0.1s ease;
    padding: 0rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    flex-grow: 1;

    color: var(--search-input-textarea-color);
    background-color: transparent;

    &::placeholder {
      color: var(--placeholder-color);
    }

    &.disabled {
      cursor: not-allowed;
    }

    border: none;
    outline: none;
    resize: none;
  }

  .search-input-icon {
    width: 0.75rem;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    svg {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .delete {
      transition: stroke 0.2s ease;
      cursor: pointer;
      width: 0.75rem;
      height: 0.75rem;
      display: block;

      stroke: var(--search-input-icon-color);
      stroke-width: 0.125rem;
    }

    .magnifier {
      width: 100%;
      height: 100%;
      display: block;

      stroke: var(--search-input-icon-color);
      stroke-width: 0.25rem;
    }
  }

  &.seeking {
    border-radius: 1rem;
    border: var(--search-input-border);
    background: var(--search-input-bg);

    textarea {
      color: var(--search-input-color);
      font-weight: bold;
    }

    .search-input-icon .delete {
      transition: stroke 0.2s ease;
      stroke: var(--search-input-icon-color);

      &:hover {
        stroke: var(--search-input-icon-color-hover);
      }
    }
  }

  &.seeking-program {
    @extend .seeking;

    textarea {
      font-size: 0.9rem;
      line-height: 1.2;
    }
  }
}
