.result-container {
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  margin-top: 8px;
  padding-top: 4px;
}

.multi-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin: 8px 0 8px 0;

  .multi-select-info {
    font-size: 0.75rem;
    color: var(--gray-600);
  }

  .multi-select-clear {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color 0.15s ease;

    &:hover {
      color: var(--gray-800);
    }
  }
}

.multi-select {
  position: relative;
  display: flex;
  flex-direction: column-reverse; // to use native css stacking
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: fit-content;
  margin-top: 4px;

  .mini-course-card {
    transition: all 0.4s ease;
    // TODO: fix this to 64px when min-height issue is resolved
    height: 63px;

    .name {
      max-width: 100%;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &.expanded {
    cursor: pointer;
  }

  &.min-height-enabled {
    min-height: 90px;
  }
}
