.utility-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 950;
  gap: 12px;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 44px;
  padding: 12px;
  background: var(--gray-300);
  padding-left: calc(var(--sidebar-width) + 12px);

  transition: padding-left 0.2s ease-in-out;

  .hamburger,
  .github-mark {
    flex-shrink: 0;
    width: 20px;
    height: auto;
    cursor: pointer;
    outline: none;
  }

  .github-mark {
    background: var(--gray-300);
  }

  .hamburger {
    &.disabled {
      cursor: not-allowed;
      path {
        fill: var(--gray-400);
      }
    }
    path {
      transition: fill 0.2s ease;
      fill: var(--gray-1000-50-opac);
    }
    &:hover:not(.disabled) {
      path {
        fill: var(--gray-500);
      }
    }
  }

  .contents {
    flex-grow: 1;
    // padding: 0 12px;
    min-width: fit-content;
    height: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    color: var(--gray-800);
  }

  .lang {
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: bold;
    flex-shrink: 0;
  }

  .filler {
    flex-grow: 1;
    min-width: 12px;
  }

  .sync-container {
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--gray-600);
      opacity: 0.6;
      rotate: -45deg;
      transition:
        fill 0.15s ease,
        opacity 0.15s ease;

      &:hover:not(.syncing):not(.disabled) {
        opacity: 1;
      }
      &.syncing {
        opacity: 1;
        fill: var(--gray-600);
        animation: sync-icon-spin 1s linear infinite;
      }
      &.success {
        opacity: 1;
        fill: var(--success-green);
      }
      &.error {
        opacity: 1;
        fill: var(--error-red);
      }
    }
  }
}

@keyframes sync-icon-spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
