.utility-bar {
  --utility-bar-bg: var(--grey-3);
  --utility-content-color: var(--grey-8);

  .hamburger {
    --hamburger-color: var(--grey-7);
    &.disabled {
      --hamburger-color: var(--grey-5);
    }
  }

  .sync-container {
    --sync-color: var(--grey-8);

    &.error:not(.syncing) {
      --sync-color: var(--unsatisfied-red-dark);
    }

    &.success:not(.syncing) {
      --sync-color: var(--satisfied-green-dark);
    }
  }

  .help-container {
    --help-color: var(--grey-8);
  }
}

.utility-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 950;
  gap: 0.75rem;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 2.75rem;
  padding: 0.75rem;
  background: var(--utility-bar-bg);
  padding-left: calc(var(--sidebar-width) + 0.75rem);

  transition: padding-left 0.2s ease-in-out;

  .hamburger,
  .github-mark {
    flex-shrink: 0;
    width: 1.25rem;
    height: auto;
    outline: none;

    &:hover:not(.disabled) {
      cursor: pointer;
    }
  }

  .github-mark {
    background: transparent;
    align-self: center;
  }

  .hamburger {
    path {
      transition: stroke 0.2s ease;
      stroke: var(--hamburger-color);
    }
    &:hover:not(.disabled) {
      opacity: 0.7;
    }
  }

  .contents {
    flex-grow: 1;
    // padding: 0 0.75rem;
    height: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 0.5rem;
    color: var(--utility-content-color);
  }

  .item-tag-container {
    flex-grow: 1;
    flex-shrink: 0;
    // padding: 0 0.75rem;
    min-width: fit-content;
    height: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .lang {
    height: 100%;
    width: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: bold;
    flex-shrink: 0;
  }

  .filler {
    flex-grow: 1;
    min-width: 0.75rem;
  }

  .sync-container {
    width: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.error:not(.syncing),
    &.success:not(.syncing),
    &.syncing {
      svg {
        opacity: 1;
      }
    }

    &.syncing svg {
      animation: sync-icon-spin 1s linear infinite;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--sync-color);
      opacity: 0.6;
      rotate: -45deg;
      transition:
        fill 0.2s ease,
        opacity 0.2s ease;

      &:hover:not(.syncing):not(.disabled) {
        opacity: 1;
      }
    }
  }

  .help-container {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;

    svg {
      width: 1.4rem;
      fill: var(--help-color);
      opacity: 0.6;
      transition:
        fill 0.2s ease,
        opacity 0.2s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes sync-icon-spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
