.term-card {
  --term-card-bg: var(--grey-3);
  --term-card-content-color: var(--grey-10);

  --term-card-dm-color: var(--grey-6);
  --term-body-bg: var(--grey-1);

  .term-header .hamburger.disabled path {
    --term-card-dm-color: var(--grey-4);
  }

  &.dragging {
    --term-card-bg: var(--grey-5);
    --term-card-content-color: var(--grey-1);
  }

  .indicator {
    --term-card-indicator-color: var(--indicator-color-light);

    &.current {
      --term-card-indicator-color: var(--indicator-color-normal);
    }
  }

  .term-name-container .select {
    --term-name-select-color: var(--grey-8);
  }

  .term-body-container {
    .term-body {
      --term-body-bg: var(--grey-1);
      --empty-term-color: var(--grey-6);

      &.dragging-over {
        --term-body-bg: var(--grey-2-5);
      }
    }
  }

  .add-term-button {
    --add-term-button-bg: var(--grey-2);
    --add-term-button-stroke-color: var(--grey-3);

    &:hover:not(.disabled):not(.clicked) {
      --add-term-button-bg: var(--grey-2-5);
      --add-term-button-stroke-color: var(--grey-6);
    }
  }

  .add-course-button {
    --add-course-button-bg: var(--grey-6);
    --add-course-button-content-color: var(--grey-1);
  }
}

.term-card {
  position: relative;
  display: flex;
  width: var(--term-card-width);
  min-height: 18.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;

  // REMINDER: these are some workarounds that helps mobile devices to correctly display the term card
  // TODO: fix terms-container css and remove these workarounds
  margin-right: var(--terms-gap);
  margin-top: calc(var(--utility-bar-height) + var(--terms-padding-topbottom));
  margin-bottom: var(--terms-padding-topbottom);

  border-radius: var(--border-radius-default);
  border: var(--term-card-border-width) solid var(--term-card-bg);
  background: var(--term-card-bg);

  transition:
    background 0.2s ease,
    border-color 0.2s ease;

  &.export {
    height: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    min-height: fit-content;
    .term-body {
      height: fit-content;
    }
  }

  .indicator {
    position: absolute;
    z-index: 300;
    height: 0.75rem;
    top: -1.25rem;
    // opacity: 1;
    outline: none;
    fill: var(--term-card-indicator-color);

    path {
      fill: var(--term-card-indicator-color);
    }

    &.current {
      height: 1.5rem;
      top: -1.75rem;
    }
  }

  .term-header {
    position: relative;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    // margin-top: -0.25rem;

    border-radius: var(--term-inner-border-radius)
      var(--term-inner-border-radius) 0rem 0rem;
    background: transparent;
    transition: all 0.2s ease;

    .add-course-button {
      border-radius: var(--border-radius-default);
      // border: 0.125rem solid var(--gray-600);
      background: var(--add-course-button-bg);
      box-shadow: var(--shadow-default-heavy);
      color: var(--add-course-button-content-color);
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      transition: all 0.2s ease;
      cursor: pointer;
      padding: 0.3rem 0.75rem;
      max-width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:not(:hover) {
        animation: twinkle 1s ease-out infinite;
      }

      &:hover {
        opacity: 1;
        scale: 1.05;
      }
    }

    .term-name-container {
      position: relative;
      width: fit-content;
      max-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .term-season-icon {
        position: absolute;
        left: -1.25rem;
        width: auto;
        height: 1rem;
      }

      .term-name {
        position: relative;

        justify-self: center;
        width: fit-content;
        max-width: 100%;
        overflow: hidden;
        color: var(--term-card-content-color);
        text-align: center;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        font-size: 1rem;
        font-style: normal;
        line-height: 1rem;
        display: flex;

        select {
          position: absolute;
          opacity: 0;
          z-index: -1;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          outline: none;
          border: none;
          background: transparent;

          &.safari {
            z-index: unset;
            opacity: 1;
          }
        }
      }

      .select {
        display: block;
        position: absolute;
        right: -1.25rem;
        flex-shrink: 0;
        width: 1.25rem;
        height: auto;
        justify-self: center;
        transition: opacity 0.2s ease;

        &:hover:not(.hidden) {
          opacity: 0.7;
        }

        path {
          transition: stroke 0.15s ease;
          stroke: var(--term-name-select-color);
        }

        &.hidden {
          display: none;
        }
      }
    }

    .hamburger {
      position: absolute;
      right: 0.75rem;

      width: 1.25rem;
      height: auto;
      transition: opacity 0.1s ease;

      path {
        fill: var(--term-card-dm-color);
      }

      &:hover:not(.disabled) {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    &:hover .select {
      display: block;
    }
  }

  .term-body-container {
    position: relative;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
  }

  .term-body {
    // flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // gap: 0.75rem;
    padding: 0.75rem;
    padding-bottom: 0;
    background: var(--term-body-bg);
    transition: background 0.2s ease;

    box-sizing: border-box;
    width: 100%;
    overflow: scroll;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    overscroll-behavior: none;
    -webkit-overflow-scrolling: auth;

    &::-webkit-scrollbar {
      display: none;
    }

    &.scroll-disabled {
      overflow: hidden;
    }

    .empty-term {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      max-height: max-content;
      margin-bottom: 0.5rem;

      & > span {
        font-size: 1rem;
        font-style: italic;
        color: var(--empty-term-color);
        align-self: center;
      }
    }
  }

  .term-footer {
    display: flex;
    height: 2.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--term-card-content-color);

    border-radius: 0 0 var(--term-inner-border-radius)
      var(--term-inner-border-radius);
    background: transparent;
    transition: all 0.2s ease;
  }
}

.add-term-button {
  position: absolute;
  width: var(--terms-gap);
  height: 80%;
  border-radius: var(--border-radius-default);
  transition:
    all 0.2s ease,
    height 0.2s ease;
  right: calc(-1 * var(--terms-gap) - var(--term-card-border-width));
  background: var(--add-term-button-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover:not(.disabled):not(.clicked) {
    cursor: pointer;
    height: 90%;

    svg {
      scale: 1.05;
    }
  }

  &.on-left {
    right: unset;
    left: calc(-1 * var(--terms-gap) - var(--term-card-border-width));
  }

  svg {
    width: 1rem;
    height: auto;
    transition: scale 0.2s ease;
    path {
      stroke: var(--add-term-button-stroke-color);
      stroke-width: 0.1875rem;
      transition: stroke 0.2s ease;
    }
  }

  &.clicked {
    opacity: 1;
    height: 80%;
    // background: var(--gray-200);

    svg {
      scale: 1;
    }
  }
}
