.term-card {
  position: relative;
  display: flex;
  width: var(--term-card-width);
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;

  margin-right: var(--terms-gap);

  border-radius: var(--border-radius-default);
  border: var(--term-card-border-width) solid var(--gray-300);
  background: var(--gray-300);

  transition:
    background 0.2s ease,
    border-color 0.2s ease;

  &.dragging {
    // opacity: 0.5;
    background: var(--gray-500);
    border-color: var(--gray-500);
  }

  &.dragging-over {
    background: var(--gray-500);
    border-color: var(--gray-500);
  }

  .term-header {
    position: relative;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    // margin-top: -4px;

    border-radius: var(--term-inner-border-radius)
      var(--term-inner-border-radius) 0px 0px;
    background: transparent;
    transition: all 0.2s ease;

    .add-course-button {
      border-radius: var(--border-radius-default);
      // border: 2px solid var(--gray-600);
      background: var(--gray-600);
      box-shadow: var(--shadow-default-heavy);
      color: var(--gray-000);
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      transition: all 0.2s ease;
      cursor: pointer;
      padding: 0.3rem 0.75rem;

      &:not(:hover) {
        animation: twinkle 1s ease-out infinite;
      }

      &:hover {
        opacity: 1;
        scale: 1.05;
      }
    }

    span {
      width: 50%;
      overflow: hidden;
      color: var(--gray-1000, #000);
      text-align: center;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      font-size: 1rem;
      font-style: normal;
    }

    .hamburger {
      position: absolute;
      right: 12px;

      width: 20px;
      height: auto;

      &.disabled path {
        fill: var(--gray-400);
      }

      path {
        fill: var(--gray-1000-50-opac);
        transition: fill 0.1s ease;
      }

      &:hover:not(.disabled) {
        cursor: pointer;
        path {
          fill: var(--gray-500);
        }
      }
    }
  }

  .term-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // gap: 0.75rem;
    padding: 0.75rem;
    padding-bottom: 0;
    background: var(--gray-000);
    transition: background 0.2s ease;

    box-sizing: border-box;
    width: 100%;
    overflow: scroll;

    &.dragging-over {
      background: var(--gray-100);
    }

    &.scroll-disabled {
      overflow: hidden;
    }
  }

  .term-footer {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 0 0 var(--term-inner-border-radius)
      var(--term-inner-border-radius);
    background: transparent;
    transition: all 0.2s ease;
  }
}

.add-term-button {
  position: absolute;
  width: var(--terms-gap);
  height: 80%;
  border-radius: var(--border-radius-default);
  opacity: 0.3;
  transition:
    all 0.2s ease,
    height 0.2s ease;
  right: calc(-1 * var(--terms-gap) - var(--term-card-border-width));
  background: var(--gray-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover:not(.disabled):not(.clicked) {
    cursor: pointer;
    opacity: 1;
    height: 90%;
  }

  &.on-left {
    right: unset;
    left: calc(-1 * var(--terms-gap) - var(--term-card-border-width));
  }

  svg {
    width: 16px;
    height: auto;
    path {
      stroke: var(--gray-400);
      stroke-width: 3;
      transition: stroke 0.2s ease;
    }
  }

  &.disabled {
    svg {
      path {
        stroke: var(--gray-300);
      }
    }
  }

  &.clicked {
    opacity: 1;
    height: 80%;
    background: var(--gray-200);

    svg {
      path {
        stroke: var(--gray-500);
      }
    }
  }
}
