.common-content {
  --common-content-bg: var(--grey-1);
  --common-content-header-color: var(--grey-7);

  header button {
    --common-content-button-color: var(--grey-6);
  }

  footer button {
    --common-content-button-bg: var(--grey-2);
    --common-content-button-content-color: var(--grey-2);

    &.cancel-button,
    &.option-button {
      --common-content-button-bg: var(--grey-2);
      --common-content-button-content-color: var(--grey-6);
    }

    &.confirm-button {
      --common-content-button-bg: var(--grey-7);
      --common-content-button-content-color: var(--grey-1);
    }
  }

  .loading-container {
    --common-content-loading-color: var(--grey-5);
  }
}

.common-content {
  width: 28rem;
  height: fit-content;
  background-color: var(--common-content-bg);
  border-radius: 1.25rem;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  top: 10%;
  top: 10vh;
  top: 10dvh;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5rem;

    color: var(--common-content-header-color);

    button {
      background-color: transparent;
      border: none;
      transition: opacity 0.2s ease;

      svg {
        width: 1rem;
        height: 1rem;
        path {
          stroke: var(--common-content-button-color);
          stroke-width: 0.125rem;
        }
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }

  & > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 0.625rem;
    width: 100%;
    flex-shrink: 0;

    button {
      min-width: 5rem;
      width: fit-content;
      height: 1.875rem;
      border: none;
      border-radius: 0.8125rem;
      padding: 0 0.625rem;
      transition: opacity 0.2s ease;

      font-weight: bold;
      color: var(--common-content-button-content-color);
      background-color: var(--common-content-button-bg);

      &.disabled {
        cursor: not-allowed;
        opacity: 0.7;
      }

      &:hover:not(.disabled) {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .loading-container {
    width: 100%;
    // height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;

    .spinner {
      width: 2rem;
      height: 2rem;
      animation: spin 2s linear infinite;

      path {
        fill: var(--common-content-loading-color);
      }
    }
  }
}
