@use "./common";

.import-modal-content {
  .description {
    --import-modal-content-description-color: var(--grey-6);
  }

  .file-input-label {
    --import-modal-content-file-input-label-bg: var(--grey-1);
    --import-modal-content-file-input-label-color: var(--grey-6);
    --import-modal-content-file-input-label-border-color: var(--grey-4);

    &.uploaded {
      --import-modal-content-file-input-label-color: var(--grey-7);
      --import-modal-content-file-input-label-border-color: var(--grey-5);
    }
  }
}

.import-modal-content {
  @extend .common-content;

  width: 40rem;
  max-height: 65%;
  max-height: 65dvh;
  max-height: 65vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: hidden;

  gap: 0.5rem;

  .description {
    color: var(--import-modal-content-description-color);
    font-size: 0.875rem;

    p {
      padding: 0;
      margin-top: 0;
    }
  }

  & > *:not(.plan-preview) {
    padding: 0;
    margin: 0;
  }

  .file-input-label {
    &:hover:not(.disabled) {
      cursor: pointer;
      opacity: 0.7;
    }

    &:not(.uploaded) {
      margin-top: 0.5rem;
    }

    flex-shrink: 0;
    width: 100%;
    height: 4.25rem;
    border: 0.125rem dashed
      var(--import-modal-content-file-input-label-border-color);
    border-radius: var(--border-radius-small);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--import-modal-content-file-input-label-color);

    transition: all 0.2s ease;

    .file-input-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
      }
    }
  }
}
