.modal-overlay {
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;

  background-color: var(--grey-12-opac-50);
  pointer-events: all;
}
