@use "./common";

.program-modal-content {
  --search-input-disabled-bg: var(--grey-2);
}

.program-modal-content {
  @extend .common-content;
  display: flex;
  flex-direction: column;

  outline: none;

  width: 40rem;
  height: 60%;
  height: 60vh;
  height: 60dvh;
  display: flex;
  flex-direction: column;

  .program-search {
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.25rem;

    margin: 1rem 0;

    .search-input {
      &.disabled {
        cursor: not-allowed;
        background-color: var(--search-input-disabled-bg);
      }
    }

    .result-container {
      display: flex;

      .inner-container {
        &.hasMore {
          padding-bottom: 0rem;
        }

        height: 100%;
        overflow-y: scroll;
        padding: 0.75rem 0;
      }
    }
  }
}
