@function inner-radius($outer-radius, $outer-width, $inner-width, $coef: 0.7) {
  @return $outer-radius / $outer-width * $inner-width * $coef;
}

:root {
  /* colors */
  --mcgill-red: #e91d2e;

  --card-bg-yellow: #fffdf2;
  --satisfy-green: #b2e026;
  --satisfy-green-hover: #90c109;
  --unsatisfy-red: #ed7155;
  --unsatisfy-red-hover: #d14e2a;

  --sync-green: #207f4c;

  --gray-000: #ffffff;
  --gray-100: #efefef;
  --gray-200: #d9d9d9;
  --gray-300: #cfcfcf;
  --gray-400: #b4b4b4;
  --gray-500: #8d8d8d;
  --gray-600: #747474;
  --gray-800: #3c3c3c;
  --gray-1000: #000000;

  --gray-1000-50-opac: rgba(0, 0, 0, 0.5);
  --overlay-hover: rgba(0, 0, 0, 0.05);
  --overlay-hover-strong: rgba(0, 0, 0, 0.08);
  --overlay-selected: rgba(0, 0, 0, 0.12);
  --overlay-disabled: rgba(0, 0, 0, 0.02);

  /* inner border radius */
  --inner-border-coef: 0.7;

  /* shared styles */

  --shadow-color: rgba(0, 0, 0, 0.25);
  --shadow-color-heavy: rgba(0, 0, 0, 0.35);
  --shadow-color-light: rgba(149, 149, 149, 0.25);
  --shadow-default: 0px 3px 10px 0px var(--shadow-color);
  --shadow-default-right: 2px 0px 10px 0px var(--shadow-color-light);
  --shadow-default-heavy: 0px 3px 10px 0px var(--shadow-color-heavy);
  --shadow-default-light: 0px 3px 10px 0px var(--shadow-color-light);
  --border-radius-default-numeric: 16;
  --border-radius-default: 16px;

  /* dimensions */
  --sidebar-width: 300px;

  --search-input-width: 240px;
  --search-input-height: 32px;
  --search-input-border: 2px solid var(--gray-500);
  --input-max-width: 220px;

  --utility-bar-height: 44px;

  --terms-gap: 40px;
  --terms-padding-topbottom: 30px;
  --term-card-width-numeric: 308;
  --term-card-width: calc(var(--term-card-width-numeric) * 1px);
  --term-card-border-width: 4px;
  --term-inner-border-radius: calc(
    (
        var(--border-radius-default-numeric) / var(--term-card-width-numeric) *
          var(--inner-border-coef)
      ) *
      100%
  );

  --course-card-width-numeric: 260;
  --course-card-width: calc(var(--course-card-width-numeric) * 1px);
}

html {
  font-size: 16px; /* rem */
}

/* Hide scrollbar but keep scrolling functionality */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Webkit browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  height: 100vh;
  width: fit-content;
  margin: 0px;
  padding: 0 0 0 var(--sidebar-width);
  transition: padding 0.2s ease-in-out;

  overflow: hidden; // default before initialized

  /* 
  * Due to technical issue of @hello-pangea/dnd library regarding nested Droppable
  * https://github.com/hello-pangea/dnd/issues/559
  * Term Card's are directly contained in body.
  */
  display: flex;
  flex-direction: row;
  // overflow: hidden;

  &.left-sidebar-folded {
    padding: 0;
  }
}

mark {
  background: var(--gray-200);
}

a {
  color: var(--gray-1000);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.clickable:hover:not(.disabled) {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.scroll-mask {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    var(--gray-000) 1%,
    var(--gray-000) 99%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    var(--gray-000) 1%,
    var(--gray-000) 99%,
    transparent
  );
}

button {
  border: none;
}

@keyframes breath {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
