.dropdown-menu-content {
  --dropdown-menu-content-bg: var(--grey-1);
  --dropdown-menu-content-shadow: var(--shadow-normal);
  --dropdown-menu-content-label-color: var(--grey-7);
}

.dropdown-menu-content {
  display: inline-flex;
  padding: 0.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: max-content;

  border-radius: 0.5rem;
  background: var(--dropdown-menu-content-bg);
  box-shadow: var(--dropdown-menu-content-shadow);
  z-index: 1001;

  .label {
    padding: 0rem 0.75rem;

    color: var(--dropdown-menu-content-label-color);
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  .filler {
    min-width: 1rem;
    flex-grow: 1;
    background: transparent;
  }
}

.dropdown-menu-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown-menu-item {
  --dropdown-menu-item-bg: var(--grey-1);
  --dropdown-menu-item-color: var(--grey-10);
  --dropdown-menu-item-dragging-shadow: var(--shadow-normal);

  .shortcut {
    --dropdown-menu-item-shortcut-color: var(--grey-7);
    --dropdown-menu-item-shortcut-bg: var(--grey-3);
    --dropdown-menu-item-separator-color: var(--grey-3);
  }

  .indicator {
    --dropdown-menu-item-indicator-color: var(--grey-1);

    &.checked {
      --dropdown-menu-item-indicator-color: var(--grey-7);
    }
  }

  .expand {
    --dropdown-menu-item-expand-color: var(--grey-7);
  }

  &:hover:not(.disabled) {
    --dropdown-menu-item-bg: var(--grey-2);

    .shortcut {
      --dropdown-menu-item-shortcut-color: var(--grey-10);
      --dropdown-menu-item-shortcut-bg: var(--grey-4);
      --dropdown-menu-item-separator-color: var(--grey-4);
    }

    .indicator:not(.checked) {
      --dropdown-menu-item-indicator-color: var(--grey-4);
    }
  }
}

.dropdown-menu-item {
  display: flex;
  padding: 0rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  height: 1.5rem;
  width: auto;

  color: var(--dropdown-menu-item-color);
  font-size: 0.75rem;
  background-color: var(--dropdown-menu-item-bg);

  outline: none;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.plan-item:not(.dragging) {
    cursor: grab;
  }

  .indicator,
  .expand {
    display: flex;
    width: 0.25rem;
    height: 0.25rem;
    overflow: visible;
    flex-shrink: 0;

    align-items: center;
    justify-content: center;

    &.transparent {
      opacity: 0;
    }

    &.hidden {
      display: none;
    }
  }

  .indicator > svg {
    fill: var(--dropdown-menu-item-indicator-color);
  }

  .expand {
    svg {
      flex-shrink: 0;
      rotate: 90deg;
      width: 0.5rem;
      height: auto;

      path {
        stroke-width: 0.1875rem;
        stroke: var(--dropdown-menu-item-expand-color);
      }
    }
  }

  .shortcut {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
    flex-shrink: 0;

    .key {
      display: flex;
      min-width: 1rem;
      height: 1rem;
      flex-shrink: 0;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;

      padding: 0 0.25rem;

      border-radius: 0.25rem;
      background: var(--dropdown-menu-item-shortcut-bg);
    }

    color: var(--dropdown-menu-item-shortcut-color);
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;
    // line-height: 1rem; /* 200% */

    .separator {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      color: var(--dropdown-menu-item-separator-color);
      font-size: 0.75rem;
      font-weight: 400;
    }
  }

  &.dragging {
    box-shadow: var(--dropdown-menu-item-dragging-shadow);
  }
}

.dropdown-menu-separator {
  --dropdown-menu-separator-color: var(--grey-2);
}

.dropdown-menu-separator {
  height: 0.0625rem;
  background-color: var(--dropdown-menu-separator-color);
  margin: 0.5rem 0;
  width: 95%;
  align-self: center;
}
