.item-tag {
  --item-tag-bg: var(--grey-7);
  --item-tag-shadow: var(--shadow-normal);

  --item-tag-content-color: var(--grey-1);

  /** Pin, plus, minus */
  --item-tag-button-color: var(--grey-4);
  --item-tag-button-hover-color: var(--grey-3);
  --item-tag-button-pinned-color: var(--grey-1);

  /** Seek */
  --item-tag-seek-color: var(--grey-6);
  --item-tag-seek-hover-color: var(--grey-4);

  /** Item */
  --item-tag-item-bg: var(--grey-1);
  --item-tag-item-no-items-bg: var(--grey-5);
  --item-tag-item-no-items-content-color: var(--grey-1);
  --item-tag-item-content-color: var(--grey-7);
}

.item-tag {
  display: flex;
  flex-direction: column;
  padding: 0.125rem 0.375rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
  border-radius: 0.375rem;
  background: var(--item-tag-bg);
  width: fit-content;
  box-sizing: border-box;
  min-height: 1.5rem;
  flex-shrink: 0;
  height: fit-content;
  text-wrap: nowrap;

  user-select: none;

  &.expanded {
    padding-bottom: 0.375rem;
    box-shadow: var(--item-tag-shadow);

    .item-tag-header {
      width: 100%;
    }
  }

  &.export {
    width: 100%;
    min-width: fit-content;

    border-radius: 0.6375rem;
    padding: 0.5rem 0.75rem 0.75rem 0.75rem;
  }

  .item-tag-header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    height: 1.25rem;

    color: var(--item-tag-content-color);
    font-size: 0.875rem;
    font-weight: bold;

    &.clickable:hover {
      cursor: pointer;
    }

    &.dragging {
      cursor: grabbing;
    }
  }

  .icon-container {
    width: 0.75rem;
    height: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;

    .plus {
      height: 100%;
      width: 0.7rem;
      path {
        transition: stroke 0.2s ease;
        stroke: var(--item-tag-button-color);
      }

      &:hover {
        cursor: pointer;
        path {
          stroke: var(--item-tag-button-hover-color);
        }
      }
    }

    .minus {
      @extend .plus;
      flex-shrink: 0;

      &:hover {
        cursor: pointer;
        path {
          stroke: var(--item-tag-button-hover-color);
        }
      }
    }

    .seek {
      width: 0.75rem;
      flex-shrink: 0;

      path {
        transition: fill 0.2s ease;
        stroke: unset;
        fill: var(--item-tag-seek-color);
      }

      &:hover {
        cursor: pointer;
        path {
          fill: var(--item-tag-seek-hover-color);
        }
      }
    }

    .pin {
      width: 0.5rem;
      rotate: -45deg;
      transition: rotate 0.1s ease;
      path {
        transition: fill 0.1s ease;
        fill: var(--item-tag-button-color);
      }

      &.rotated {
        rotate: 0deg;
        path {
          fill: var(--item-tag-button-hover-color);
        }
      }

      &.pinned {
        @extend .rotated;
        path {
          fill: var(--item-tag-button-pinned-color);
        }
      }
    }
  }

  .item-tag-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
    width: 100%;
  }

  .item-tag-item {
    display: flex;
    height: 1.25rem;
    padding: 0rem 0.25rem;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.25rem;
    background: var(--item-tag-item-bg);
    overflow: hidden;

    &.no-items {
      background: var(--item-tag-item-no-items-bg);

      .content {
        color: var(--item-tag-item-no-items-content-color);
      }
    }

    .content {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      color: var(--item-tag-item-content-color);
      font-size: 0.875rem;
      font-weight: bold;

      text-overflow: ellipsis;
    }
  }
}
