.plan-preview {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  & > header {
    color: var(--gray-600);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    text-align: start;
  }

  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--gray-100);
  border-radius: 0.75rem;
  overflow: hidden;

  .terms-container {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

.term-preview {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  // gap: 0.5rem;
  background-color: var(--gray-400);
  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);
  overflow: hidden;
  // min-width: 7rem;
  width: max-content;
  height: fit-content;

  .term-name {
    flex-grow: 1;
    flex-shrink: 0;
    height: 0.85rem;
    padding: 0.2rem;
    width: fit-content;
    text-align: center;
    align-self: center;
    text-wrap: nowrap;

    color: var(--gray-000);
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 0.85rem;
    transform: translateY(0.05rem);
  }

  .courses-container {
    pointer-events: none;
    flex-shrink: 0;
    text-wrap: nowrap;
    display: flex;
    padding: 0.25rem;
    width: 100%;
    box-sizing: border-box;

    flex-direction: column;
    gap: 0.25rem;

    background-color: var(--gray-000);

    .course-preview {
      display: flex;
      padding: 0 0.5rem 0 0.25rem;

      align-items: center;

      height: 1.25rem;
      gap: 0.5rem;
      width: auto;
      box-sizing: border-box;
      border-radius: 0.25rem;
      background: var(--gray-200);

      text-align: center;
      font-family: Arial;
      font-size: 0.85rem;
      font-weight: 700;

      & > span {
        flex-shrink: 0;
        // width: fit-content;
        // width: auto;
        transform: translateY(0.05rem);
      }

      .credits {
        width: 0.75rem;
        color: var(--gray-000);
        line-height: 0.85rem;
      }

      .id {
        color: var(--gray-800);
        line-height: 0.85rem;
      }
    }
  }
}
