.scroll-track {
  --scroll-track-bg: var(--grey-1);
  --scroll-track-thumb-bg: var(--grey-3);

  &:hover:not(.hidden),
  &.show:not(.hidden),
  &.dragging {
    --scroll-track-thumb-bg: var(--grey-5);
  }

  &.hidden {
    --scroll-track-thumb-bg: transparent;
  }
}

.scroll-track {
  position: absolute;
  transition:
    width 0.2s ease-in-out,
    left 0.2s ease-in-out,
    height 0.2s ease-in-out,
    background-color 0.2s ease,
    border-radius 0.2s ease,
    opacity 0.2s ease;
  display: flex;
  align-items: center;
  opacity: 0;

  &.hidden {
    opacity: 0;
  }

  &:hover:not(.hidden),
  &.show:not(.hidden),
  &.dragging {
    opacity: 1;

    .scroll-bar-thumb {
      cursor: pointer;
    }
  }

  .scroll-bar-thumb {
    position: absolute;
    background-color: var(--scroll-track-thumb-bg);
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
  }

  &.horizontal {
    width: 100%;
    height: 0.75rem;
    left: 0;
    bottom: 0;

    &.larger {
      height: 0.9rem;
    }

    &:hover,
    &.dragging {
      height: 1rem;

      &.larger {
        height: 1.2rem;
      }
    }

    .scroll-bar-thumb {
      border-radius: 0.4rem;
      height: 50%;
    }
  }

  &.vertical {
    right: 0;
    top: 0;
    height: 100%;
    width: 0.75rem;
    flex-direction: column;

    &.larger {
      width: 0.9rem;
    }

    &:hover,
    &.dragging {
      width: 1.2rem;

      &.larger {
        width: 1.5rem;
      }
    }

    .scroll-bar-thumb {
      border-radius: 0.4rem;
      width: 50%;
    }
  }
}

/* show scrollbar on hover for elements with a scroll-track */
*:not(.terms-container):has(> .scroll-track):hover {
  & > .scroll-track:not(.hidden) {
    opacity: 1 !important;
    .scroll-bar-thumb {
      background-color: var(--grey-5) !important;
    }
  }
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auth;

  &::-webkit-scrollbar {
    display: none;
  }
}
