.tag {
  --tag-bg: var(--neutral-grey-light, --grey-3);
  --tag-content-color: var(--grey-9);

  &.satisfied {
    --tag-bg: var(--satisfied-green-light);

    &.equiv {
      --tag-bg: repeating-linear-gradient(
        45deg,
        var(--satisfied-green-light),
        var(--satisfied-green-light) 10px,
        var(--grey-1) 10px,
        var(--grey-1) 15px
      );
    }
  }

  &.unsatisfied {
    --tag-bg: var(--unsatisfied-red-light);
  }
}

.tag {
  display: flex;
  padding: 0rem 0.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  flex-shrink: 0;
  height: fit-content;
  cursor: pointer;

  user-select: none;

  border-radius: 0.25rem;
  background: var(--tag-bg);

  color: var(--tag-content-color);
  font-size: 0.75rem;
  font-weight: bold;
  text-wrap: nowrap;
  line-height: 1rem;

  &.clickable:hover:not(.disabled) {
    opacity: 0.7;
  }
}
