.Toastify__toast {
  border-radius: 1rem;
  padding: 1rem;
}

.Toastify__close-button {
  right: 0.5rem;
  top: 0.5rem;
}

.toast-seeking-course {
  --toast-bg: var(--grey-8);
  --toast-text-color: var(--grey-1);
}

.toast-seeking-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--toast-bg);
  color: var(--toast-text-color);
}
