.tooltip-container {
  --tooltip-bg: var(--grey-10);
  --tooltip-color: var(--grey-1);
  --sync-time-color: var(--grey-6);
  --sync-error-color: var(--unsatisfied-red-light);
}

.tooltip-container {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 10000;

  .tooltip-common {
    border-radius: 0.5rem;
    background: var(--tooltip-bg);
    color: var(--tooltip-color);
  }

  .sync-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .sync-error {
      color: var(--sync-error-color);
    }

    .sync-time {
      color: var(--sync-time-color);
    }
  }
}
