@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar-width: 300px;
  --sidebar-background: #83A4C9;
  --term-width: 300px;
  --term-height: 90vh;
  --term-border-color: #CFCFCF;
  --term-topbottom-color: #CFCFCF;
  --term-body-bg-color: #F0F0F0;
  --term-topbottom-height: 40px;
  --border-radius: 15px;
  --dragging-bg-color: #50dbee74;
  --term-topbottom-color-hover: #acd78ac1;
  --dragging-over-bg-color: #1a7b8837;
  
  /* course */
  --course-search-bg-color: #FFF;
  --course-card-width: 260px;
  --course-name-font-size: 12px;
  --course-id-credits-font-size: 18px;
  --course-selected-border-color: #ff0000;
  --course-in-term-margin-top: 10px;

  /* course card status */
  --course-satisfied-bg-color: #B2E026;
  --course-unsatisfied-bg-color: #ED7155;

  /* course req notes */
  --course-req-notes-bg-color: #F0F0F0;
  --course-req-notes-border-radius: 7px;
  --course-req-notes-title-font-size: 12px;
  --course-req-notes-title-color: #939393;
  --course-req-notes-notes-font-size: 15px;

  /* course tag */
  --course-tag-default-bg-color: #CCCCCC;
  --course-tag-border-radius: 3px;
  --course-tag-font-size: 12px;
  --course-tag-hover-bg-color: #939393;
  --course-tag-satisfied-bg-color: #A5D63F;
  --course-tag-unsatisfied-bg-color: #ED7155;

  /* course expand */
  --course-expand-color: var(--course-tag-default-bg-color);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
}
