/* variables */
.mini-program-card {
  --mini-program-card-bg: var(--grey-3);
  --mini-program-card-shadow: var(--shadow-light);

  .credits {
    --mini-program-card-content-credits-color: var(--grey-8);
  }

  .info {
    --mini-program-card-content-info-name-color: var(--grey-8);
    --mini-program-card-content-info-metadata-color: var(--grey-8);

    .highlight-text {
      --mini-program-card-content-info-name-highlight-bg: var(--grey-8);
      --mini-program-card-content-info-name-highlight-text-color: var(--grey-3);
      --mini-program-card-content-info-name-highlight-text-color-selected: var(
        --grey-3
      );
    }
  }

  .icon-container {
    --mini-program-card-icon-color: var(--grey-5);

    &:hover:not(.disabled) {
      --mini-program-card-icon-color: var(--grey-7);
    }

    &.disabled {
      --mini-program-card-icon-color: var(--grey-3);
    }
  }

  &.selected {
    --mini-program-card-bg: var(--grey-8);
    --mini-program-card-content-color: var(--grey-1);
    --mini-program-card-shadow: var(--shadow-heavy);

    .credits {
      --mini-program-card-content-credits-color: var(--grey-3);
    }

    .info {
      --mini-program-card-content-info-name-color: var(--grey-8);
      --mini-program-card-content-info-metadata-color: var(--grey-3);
    }

    .icon-container {
      --mini-program-card-icon-color: var(--grey-3);

      &:hover:not(.disabled) {
        --mini-program-card-icon-color: var(--grey-5);
      }
    }
  }
}

.mini-program-card {
  display: flex;
  width: 95%;
  max-width: 36.75rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  box-sizing: border-box;

  border-radius: var(--border-radius-default);
  background: var(--mini-program-card-bg);
  box-shadow: var(--mini-program-card-shadow);

  &.selected {
    border-radius: 1rem;
  }

  p {
    margin: 0;
  }

  .credits {
    display: flex;
    width: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: var(--mini-program-card-content-credits-color);
    font-size: 1rem;
    font-weight: bold;
    line-height: normal;

    span {
      width: fit-content;
    }
  }

  .info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
    height: fit-content;

    .name {
      color: var(--mini-program-card-content-info-name-color);
      font-size: 1rem;
      font-weight: bold;
      line-height: normal;

      .highlight-text {
        background-color: var(
          --mini-program-card-content-info-name-highlight-bg
        );
        color: var(--mini-program-card-content-info-name-highlight-text-color);

        &.selected-text {
          background-color: var(
            --mini-program-card-content-info-name-highlight-text-color-selected
          );
          color: var(--mini-program-card-content-info-name-color);
        }
      }
    }
    .metadata {
      color: var(--mini-program-card-content-info-metadata-color);
      font-size: 0.75rem;
      line-height: normal;
    }
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 1rem;
    gap: 1rem;

    &.disabled {
      cursor: not-allowed;
    }

    path {
      transition: stroke 0.2s ease;
      stroke: var(--mini-program-card-icon-color);
    }
  }
}
