// variables
.course-card {
  --shadow: var(--shadow-normal);
  --course-card-content-color: var(--grey-10);
  --course-card-credits-color: var(--grey-1);

  --course-card-bg: var(--neutral-grey-normal);
  --course-card-dark: var(--neutral-grey-dark);
  --course-card-light: var(--neutral-grey-light);
  --course-card-button: var(--neutral-grey-button);

  &.skeleton {
    --course-card-bg: var(--grey-5);
    & > .req-note-skeleton {
      --req-note-bg: var(--grey-2);
      --req-note-border-color: var(--grey-2);
    }
  }

  &.satisfied {
    --course-card-bg: var(--satisfied-green-normal);
    --course-card-dark: var(--satisfied-green-dark);
    --course-card-light: var(--satisfied-green-light);
    --course-card-button: var(--satisfied-green-button);
  }

  &.unsatisfied {
    --course-card-bg: var(--unsatisfied-red-normal);
    --course-card-dark: var(--unsatisfied-red-dark);
    --course-card-light: var(--unsatisfied-red-light);
    --course-card-button: var(--unsatisfied-red-button);
  }

  &.program-section {
    --course-card-content-color: var(--grey-1);
    --course-card-credits-color: var(--grey-1);
    --course-card-bg: var(--grey-7);
    --course-card-dark: var(--grey-6);
    --course-card-light: var(--grey-3);
  }
}

.course-card {
  display: flex;
  width: var(--course-card-width);
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  margin-bottom: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-default);
  box-shadow: var(--shadow);
  background: var(--course-card-bg);
  flex-shrink: 0;
  gap: 0.5rem;

  overflow: hidden;

  // &.program-section:not(&.meta-data) {
  //   background: var(--gray-300);
  // }

  &.expanded {
    padding: 0.5rem;

    .course-card-header .icons-container .expand {
      rotate: 0deg;
    }
  }

  &.seeking {
    z-index: 550;
  }

  &.detailed-info {
    margin-bottom: 0;
  }

  .course-card-header {
    display: grid;
    width: 100%;
    grid-template-areas:
      "subheading icons-container"
      "heading credits";

    row-gap: 0.25rem;

    box-sizing: border-box;
    padding: 0.25rem 0.25rem 0 0.5rem;

    .heading {
      grid-area: heading;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      color: var(--course-card-content-color);
      font-size: 1.125rem;
      font-weight: bold;
    }

    .subheading {
      grid-area: subheading;
      max-width: 10.5rem;

      color: var(--course-card-content-color);
      font-size: 0.75rem;
      font-weight: normal;
    }

    .target {
      width: auto;
      height: 0.875rem;
      margin-left: 0.25rem;
      margin-top: -0.0625rem;
      display: none;

      cursor: pointer;

      transition: all 0.2s ease;

      path {
        fill: var(--course-card-button);
        transition: fill 0.2s ease;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }
    }

    .icons-container {
      grid-area: icons-container;
      display: flex;
      justify-content: flex-end;
      align-self: flex-start;

      gap: 0.625rem;

      .delete,
      .expand,
      .seek {
        width: 0.75rem;
        height: 0.75rem;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: opacity 0.2s ease;

        svg path {
          stroke: var(--course-card-button);
          stroke-width: 0.125rem;
          transition: all 0.2s ease;
        }

        &:hover:not(.active):not(.disabled) {
          cursor: pointer;
          svg > path {
            stroke: var(--course-card-dark);
          }
        }

        &.active {
          svg > path {
            stroke: var(--course-card-dark);
            fill-opacity: 1;
            fill: var(--course-card-dark);
          }
        }

        &.disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }

      .expand {
        rotate: -180deg;
        transition: rotate 0.2s ease-in-out;

        svg path {
          stroke-width: 0.1875rem;
        }
      }

      .delete {
        svg path {
          stroke-width: 0.125rem;
        }
      }

      .seek {
        svg {
          path {
            fill: var(--course-card-button);
            fill-opacity: 1;
            stroke-width: 0;
          }
        }

        &:hover:not(.active):not(.disabled) {
          svg > path {
            fill: var(--course-card-dark);
          }
        }
      }
    }

    .credits {
      grid-area: credits;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-self: flex-start;

      &:not(.skeleton) > span {
        flex-shrink: 0;
        width: fit-content;
        min-width: 1.75rem;
        height: 1.25rem;
        display: flex;
        padding: 0 0.25rem;
        box-sizing: border-box;

        flex-direction: column;
        justify-content: center;
        border-radius: 0.25rem;

        text-align: center;
        background: var(--course-card-dark);

        color: var(--course-card-credits-color);
        font-size: 1rem;
        font-weight: bold;
        line-height: 1rem;
      }
    }
  }

  &:hover {
    .course-card-header .target:not(.disabled) {
      display: block;
    }
  }
}
