.foot-note {
  --foot-note-bg: var(--course-card-dark, var(--grey-8));
  --foot-note-content-color: var(--grey-1);
}

.foot-note {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  box-sizing: border-box;

  border-radius: 0.65625rem;
  background: var(--foot-note-bg);

  span {
    color: var(--foot-note-content-color);
    font-size: 0.75rem;
    font-weight: bold;
    line-height: normal;
  }

  &.program-card {
    width: 95%;
    max-width: 36.75rem;
  }

  &.course-card {
    width: 16.25rem;
  }

  .delete {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    padding: 0rem;

    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    right: 0.5rem;
    transition: opacity 0.2s ease;

    svg {
      width: 0.625rem;
      height: auto;

      path {
        stroke: var(--foot-note-content-color);
        stroke-width: 0.125rem;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
