.mini-course-card {
  --mini-course-card-bg: var(--grey-1);
  --mini-course-card-shadow: var(--shadow-normal);
  --info-color: var(--grey-10);
  --credits-span-bg: var(--grey-1);
  --credits-span-content-color: var(--grey-6);

  &.satisfied .credits span {
    --credits-span-content-color: var(--grey-1);
    --credits-span-bg: var(--satisfied-green-normal);
  }

  &.unsatisfied .credits span {
    --credits-span-content-color: var(--grey-1);
    --credits-span-bg: var(--unsatisfied-red-normal);
  }

  /* add and remove icons */
  .icon-container {
    --icon-color: var(--grey-4);

    &:hover:not(.disabled) {
      --icon-color: var(--grey-7);
    }

    &.disabled {
      --icon-color: var(--grey-3);
    }
  }

  /* selected course card */
  &.selected .icon-container {
    --icon-color: var(--grey-8);

    &:hover:not(.disabled) {
      --icon-color: var(--grey-6);
    }
  }
}

.mini-course-card {
  display: flex;
  width: 16.25rem;
  height: fit-content;
  padding: 0.75rem 0;
  align-items: center;
  // REVIEW: fix min-height issue

  box-sizing: border-box;

  border-radius: var(--border-radius-default);
  background: var(--mini-course-card-bg);
  box-shadow: var(--mini-course-card-shadow);

  &.skeleton {
    height: 3.9375rem;
    .info {
      gap: 0rem;
    }
  }

  .credits {
    height: 100%;
    width: 3rem;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: flex;
      height: 1.25rem;
      min-width: 1rem;
      padding: 0rem 0.25rem;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;

      background: var(--credits-span-bg);
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.2rem;
      color: var(--credits-span-content-color);
      backface-visibility: hidden;
      transform: translateZ(0);

      border-radius: 0.25rem;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 10.25rem;
    gap: 0.25rem;
    height: fit-content;

    .name {
      margin: 0rem;
      color: var(--info-color);
      font-family: Arial;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .id {
      overflow: hidden;
      color: var(--info-color);
      text-overflow: ellipsis;
      font-family: Arial;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .icon-container {
    height: 100%;
    width: 3rem;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    path {
      stroke: var(--icon-color);
      transition: stroke 0.2s ease;
    }

    &.disabled {
      cursor: not-allowed;
    }

    svg {
      width: 1rem;
      height: auto;
    }
  }
}
