.mini-course-card {
  display: flex;
  width: 260px;
  height: fit-content;
  padding: 0.75rem 0;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  border-radius: var(--border-radius-default);
  background: var(--gray-000);
  box-shadow: var(--shadow-default);

  &.satisfied .credits span {
    background: var(--satisfy-green, #b2e026);
    color: var(--gray-000);
  }

  .credits {
    height: 100%;
    width: 48px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: flex;
      height: 20px;
      min-width: 16px;
      padding: 0px 4px;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;

      font-size: 1rem;
      font-weight: bold;
      line-height: 1.2rem;
      color: var(--gray-400);
      backface-visibility: hidden;
      transform: translateZ(0);

      border-radius: 4px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 164px;
    gap: 4px;
    height: fit-content;

    .name {
      margin: 0px;
      color: var(--gray-1000);
      font-family: Arial;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .id {
      overflow: hidden;
      color: var(--gray-1000);
      text-overflow: ellipsis;
      font-family: Arial;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .icon-container {
    height: 100%;
    width: 48px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    path {
      stroke: var(--gray-300);
      transition: stroke 0.2s ease;
    }

    &:hover path {
      stroke: var(--gray-500);
    }

    .icon {
      width: 16px;
      height: auto;
    }
  }
}
