.req-note {
  --req-note-bg: var(--grey-1);
  --req-note-border-color: var(--grey-1);
  --req-note-header-color: var(--grey-7);
  --req-note-content-color: var(--grey-10);

  --req-note-marker-color: var(--grey-6);

  &.skeleton {
    --req-note-bg: var(--grey-2);
    --req-note-border-color: var(--grey-2);
  }

  & > .req-group-container > .scroll-icon-container {
    --scroll-icon-bg: var(--grey-2);
    --scroll-icon-content-color: var(--grey-4);

    &.show:hover {
      --scroll-icon-bg: var(--grey-3);
      --scroll-icon-content-color: var(--grey-6);
    }

    &.left {
      --scroll-icon-shadow: var(--shadow-normal);
    }

    &.right {
      --scroll-icon-shadow: var(--shadow-normal);
    }
  }
}

.req-note {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0.5rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;

  box-sizing: border-box;

  border-radius: 0.65625rem;
  background: var(--req-note-bg);

  header {
    color: var(--req-note-header-color);
    font-size: 0.75rem;
    font-weight: bold;
    line-height: normal;
    width: fit-content;
    padding: 0rem 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
    align-self: flex-start;

    &.no-req {
      margin-bottom: 0;
    }
  }

  .parsed {
    height: fit-content;
    width: 100%;
    overflow-y: scroll;
  }

  .notes {
    padding: 0rem 0.5rem 0rem 1.5rem;
    width: calc(100% - 2rem);
    margin: 0rem;

    display: flex;
    flex-direction: column;
    gap: 0.3125rem;

    font-size: 0.75rem;
    color: var(--req-note-content-color);
    list-style-type: disc;

    li {
      &::marker {
        background: var(--req-note-marker-color);
        color: var(--req-note-content-color);
      }
      text-wrap: wrap;
    }
  }

  .req-group-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    align-items: center;

    .scroll-icon-container {
      flex-shrink: 0;
      position: sticky;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--scroll-icon-bg);
      opacity: 0;
      transition: all 0.2s ease;
      // padding: 0.25rem 0rem;
      // box-shadow: var(--shadow-default-light);
      overflow: visible;
      box-sizing: border-box;
      min-height: 2rem;

      &.show {
        opacity: 1;

        &:hover {
          cursor: pointer;
        }
      }

      &.left {
        left: 0;
        svg {
          rotate: -90deg;
        }
        border-radius: 0 0.375rem 0.375rem 0;
        padding-right: 0.125rem;
      }

      &.right {
        right: 0;
        svg {
          rotate: 90deg;
        }
        border-radius: 0.375rem 0 0 0.375rem;
        padding-left: 0.125rem;
      }

      svg {
        width: 0.75rem;
        height: auto;
        path {
          transition: all 0.2s ease;
          stroke: var(--scroll-icon-content-color);
        }
      }
    }
  }

  .req-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    width: fit-content;
    height: fit-content;
    overflow: visible;

    .delimiter {
      color: var(--gray-800);
      text-align: center;
      font-size: 0.5rem;
    }

    .req-title {
      @extend .delimiter;
      text-wrap: nowrap;
    }
  }
}
