.term-note {
  --term-note-bg: var(--grey-1);
  --term-note-color: var(--grey-9);
}

.term-note {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns, 3), 1fr);
  gap: 0.5rem;

  box-sizing: border-box;
  color: var(--term-note-color);

  .season {
    padding: 0.25rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    flex-shrink: 0;
    background: var(--term-note-bg);
    border-radius: 0.65625rem;

    opacity: 0.6;

    box-sizing: border-box;

    &.matched {
      opacity: 1;
    }

    svg {
      width: 1rem;
      height: auto;
    }
  }
}
